<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud.mapper.AttendenceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcloud.entity.Attendence">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="end_time" />
        <result column="count" property="count" />
        <result column="is_end" property="isEnd" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="attendance_type" property="attendanceType" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_id, start_time, end_time, count,is_end,longitude,latitude,attendance_type,creater,create_time,is_delete
    </sql>

</mapper>
